In [ ]:
import pandas as pd

    # Read data from file
df = pd.read_csv('adult.data.csv')



df['race'].value_counts()

mean_male_age = df[df['sex'] == 'Male']['age'].mean()
print(mean_male_age)

print('Contagem')
perc_bachelors = df['education'].value_counts(normalize=True)['Bachelors'] * 100
print(perc_bachelors)

39.43354749885268
Contagem
16.44605509658794

In [26]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
adv_edu = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
edu_salary = adv_edu[adv_edu['salary'] == '>50K']

perc = (len(edu_salary) / len(adv_edu)) * 100

In [27]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df['hours-per-week'].min()

       age         workclass  fnlwgt     education  education-num  \
2       38           Private  215646       HS-grad              9
3       53           Private  234721          11th              7
6       49           Private  160187           9th              5
7       52  Self-emp-not-inc  209642       HS-grad              9
10      37           Private  280464  Some-college             10
...    ...               ...     ...           ...            ...
32556   27           Private  257302    Assoc-acdm             12
32557   40           Private  154374       HS-grad              9
32558   58           Private  151910       HS-grad              9
32559   22           Private  201490       HS-grad              9
32560   52      Self-emp-inc  287927       HS-grad              9

              marital-status         occupation   relationship   race     sex  \
2                   Divorced  Handlers-cleaners  Not-in-family  White    Male
3         Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
6      Married-spouse-absent      Other-service  Not-in-family  Black  Female
7         Married-civ-spouse    Exec-managerial        Husband  White    Male
10        Married-civ-spouse    Exec-managerial        Husband  Black    Male
...                      ...                ...            ...    ...     ...
32556     Married-civ-spouse       Tech-support           Wife  White  Female
32557     Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558                Widowed       Adm-clerical      Unmarried  White  Female
32559          Never-married       Adm-clerical      Own-child  White    Male
32560     Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
6                 0             0              16        Jamaica  <=50K
7                 0             0              45  United-States   >50K
10                0             0              80  United-States   >50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[25070 rows x 15 columns]